
# Controller specific records
record (asyn, "$(P)$(PORT):asyn")
{
}

record(waveform, "$(P)MCUErrMsg") {
    field(DTYP, "asynOctetRead")
    field(INP, "@asyn($(PORT),$(ADDR))ECMC_MCUErrMsg")
    field(FTVL, "CHAR")
    field(NELM, "256")
    field(SCAN, "I/O Intr")
}

