record(bo,"$(P)SetEC$(SLAVE_POS)$(TYPE)_$(NAME)"){
	field(DTYP,"stream")
	field(OUT,"@ethercat.proto setPdoEntry($(SLAVE_POS),$(NAME)) $(PORT)")
	field(FLNK,"$(P)GetEC$(SLAVE_POS)$(TYPE)_$(NAME).PROC")
}

record(bi,"$(P)GetEC$(SLAVE_POS)$(TYPE)_$(NAME)"){
	field(DTYP,"stream")
	field(INP,"@ethercat.proto getPdoEntry($(SLAVE_POS),$(NAME)) $(PORT)")
	field(SCAN,"1 second")
}
